{% extends 'base.html.twig' %}

{% block title %}Mon Shop Moto{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
    <h1>Salut {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li><a class="nav-link" href="/shopmoto/public/Login">Connection</a></li>   
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/shopmoto/src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/shopmoto/templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
